.transactions {
  padding: var(--layout-mobile-padding);
  padding-bottom: 80px;

  @media (min-width: 768px) {
    padding: var(--layout-desktop-padding);
    padding-bottom: 80px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__title {
    margin: 0 0 8px;
    font: var(--font-subtitle);
  }


  &__filter {
    background-color: var(--input-background);
    border: none;
    border-radius: 4px;
    width: 42px;
    height: 42px;
    cursor: pointer;

    img {
      width: 25px;
      height: 25px;
      margin-top: 5px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  .transaction-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .transaction-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #1C1A1A;
    width: 100%;

    &__header {
      background-color: var(--input-background);
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 24px);
      padding: 4px 12px;

      @media (min-width: 768px) {
        display: none;
      }
    }

    .transaction-icon {
      width: 40px;
      height: 40px;
      margin-right: 15px;

      @media (min-width: 768px) {
        width: 48px;
        height: 48px;
      }
    }

    .status-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .transaction-info {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .status {
      font: var(--font-card-title);
      text-align: center;
      margin: 0 0 4px;

      @media (min-width: 768px) {
        font-size: 16px;
      }

      &.processing {
        color: orange;
      }

      &.active {
        color: green;
      }

      &.performed {
        color: blue;
      }
    }
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 24px);
    padding: 8px 12px;

    &__block {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__subtitle {
      font: var(--font-card-description);
      opacity: 50%;

      @media (min-width: 768px) {
        font-size: 14px;
      }
    }

    &__status {
      font: var(--font-card-description);
      margin: 0 0 4px;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }

  .mobileHide {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.deposit-modal {
  background-color: var(--background-header);
  padding: 20px;
  position: relative;
  width: 100%;
  top: 55px;
  left: 0;
  right: 0;
  height: calc(100% - var(--header-mobile-height));

  @media (min-width: 768px) {
    width: 710px;
    height: 630px;
    top: 40px;
    left: 0;
    border-radius: 4px;
    padding: 32px;
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__back-button {
    background: none;
    border: none;
    color: var(--font-color-main);
    font: var(--font-description);
  }

  .close-button {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: none;
    background: none;
  }

  .close-button::before,
  .close-button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: var(--font-color-main);
    transform-origin: center;
  }

  .close-button::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .close-button::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &__balance {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #2D69EB;
    box-shadow: -1px 2px 6px 0px #00000017;
    border-radius: 6px;
    text-align: center;
    padding: 10px 0;
    font: var(--font-description);
    margin-bottom: 16px;

    @media (min-width: 768px) {
      margin-left: -32px;
      width: calc(100% + 64px);
      border-radius: 0;
    }
  }

  &__amount {
    font: var(--font-subtitle);
    margin-left: 5px;
  }

  .comission {
    background: var(--input-background);
    border-radius: 4px;
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 24px;

    &__main {
      display: flex;
      gap: 12px;
    }

    &__logo {
      width: 37px;
      height: 26px;

      @media(min-width: 768px) {
        width: 50px;
        height: 38px;
      }
    }

    &__subtitle {
      font-family: var(--font-family-main);
      font-size: 6px;
      color: #FFFFFFCC;

      @media (min-width: 768px) {
        font-size: 12px;
      }
    }

    &__title {
      display: flex;
      gap: 10px;
      font: var(--font-card-title);

      @media(min-width: 768px) {
        font: var(--font-subtitle);
      }
    }

    &__system {
      position: relative;
    }

    &__system::after {
      position: absolute;
      content: '.';
      top: -2px;
      right: -7px;
      color: var(--font-color-main);
    }

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3px;
    }

    &__button {
      border: none;
      background: none;
      color: var(--font-color-main);
      cursor: pointer;
    }
  }

  .amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 24px;

    &__title {
      font: var(--font-subtitle);
      text-align: center;
      margin-bottom: 8px;
    }

    &__current-amount {
      width: 100%;
      background-color: var(--input-background);
      font: var(--font-subtitle);
      text-align: center;
      padding: 7px 0;
      border-radius: 4px;
      margin-bottom: 12px;
    }

    &__add-buttons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 14px;

      button {
        background: var(--input-background);
        border: none;
        color: var(--font-color-main);
        border-radius: 4px;
        box-shadow: -1px 0px 5px 0px #00000017;
        font-family: var(--font-family-main);
        font-size: 12px;
        padding: 10px;
        cursor: pointer;

        @media (min-width: 768px) {
          padding: 10px 32px;
        }
      }
    }

    &__subtitle {
      font-family: var(--font-family-main);
      font-size: 12px;
      text-align: center;
      color: var(--font-color-main);
      opacity: 50%;
    }
  }

  .promocode-form {

    &__title {
      font-family: var(--font-family-main);
      font-weight: 800;
      margin-bottom: 8px;
    }

    &__block {
      display: flex;
      width: 100%;
      gap: 16px;
      margin-bottom: 32px;
    }

    &__input {
      flex-grow: 1;
    }

    &__apply {
      width: 85px;
      flex-shrink: 0;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }

    &__deposit {
      width: 100%;

      @media (min-width: 768px) {
        font-size: 16px;
      }
    }
  }
}